@import url("./__icon/__icon.css");
@import url("./__link-icon/__link-icon.css");
@import url("./__icon-list/__icon-list.css");

.footer__iconsContainer {
    position: absolute;
    right: 106px;
    top: 30px;
    display: flex;
    justify-content: space-between;
    width: 72px;
    padding: 0;
    margin:0;
}

@media screen and (max-width: 1440px) {
    .footer__iconsContainer {
        right:106px;
    }
}


@media screen and (max-width: 1024px) {
    .footer__iconsContainer {
        top:21px;
    }
}

@media screen and (max-width: 768px) {
    .footer__iconsContainer {
        top:20px;
        right:40px;
    }
}

@media screen and (max-width: 425px) {
    .footer__iconsContainer {
        right:18px;
    }
}

