@import url("./__link/__link.css");
@import url("./__link/_active/_active.css");
@import url("./__content-row/__content-row.css");
@import url("./__stroke/__stroke.css");
@import url("./__list-link/__list-link.css");
@import url("./__stroke/_type_light/_type_light.css");

.header__container {
    position: absolute;
    top:30px;
    right:101px;
    display: flex;
    width:190px;
    justify-content: space-between;
    padding:0;
    margin:0;
}

@media screen and (max-width: 1024px) {
    .header__container {
        right:42px;
    }
    
}


@media screen and (max-width: 768px) {
    .header__container {
        top:20px
    }  
}

@media screen and (max-width: 425px) {
    .header__container {
        top:16px;
        width:150px;
    }  
}

@media screen and (max-width: 320px) {
    .header__container {
        right:15px;
    }  
}

