@import url("./-wrapper/-wrapper.css");



.swiper-container {
    margin-top:64px;
    overflow: visible;
    position: initial;
}

@media screen and (max-width: 1024px) {
    .swiper-container {
        width:772px;
        height:242px;
    }
}

@media screen and (max-width: 768px) {
    .swiper-container {
        width:336px;
        height:242px;
        margin:0;
        margin-top:64px;
        margin-left:40px;
        position: initial;
    }
}


@media screen and (max-width: 425px) {
    .swiper-container {
        width:90%
    }
}
