@import url("./__error-image/__error-image.css");
@import url("./__error-title/__error-title.css");
@import url("./__error-subtitle/__error-subtitle.css");

.cards__error-container {
    margin:auto;
    display:none;
    justify-items: center;
    flex-direction: column;
    max-width:340px;
}
