@import url("./__number/__number.css");

.analytics__number-line {
    display: flex;
    position: relative;
    margin-left:100px;
    width:inherit;
    justify-content: space-between;
    margin-top:16px;
    margin-bottom:16px;
}


@media screen and (max-width: 425px) {
    .analytics__number-line {
        display: none;
    }  
}