.swiper__title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    margin:0;
    color: #1A1B22;    
    margin-left: 104px;
}

@media screen and (max-width: 1440px) {
    .swiper__title {
        margin-left:calc(104*100vw/1440);
    }
}

@media screen and (max-width: 1023px) {
    .swiper__title {
        width:400px
    }
}

@media screen and (max-width: 767px) {
    .swiper__title {
        width:600px;
        margin:auto;
    }
}
@media screen and (max-width: 676px) {
    .swiper__title {
        width:400px;
        text-align: center;
        margin:auto;
    }
}

@media screen and (max-width: 515px) {
    .swiper__title {
        width:200px;
        text-align: initial;
        margin-left:46px;
    }
}

@media screen and (max-width:425px) {
    .swiper__title {
        margin-left:16px;
    }
}