@import url("./__input-rectangle/__input-rectangle.css");
@import url("./__input/__input.css");
@import url("./__submit/__submit.css");

.search__form {
    position: relative;
    margin: auto;
    margin-top:64px;
    width: fit-content;
}

@media screen and (max-width: 768px) {
    .search__form {
        margin-top: 24px;
    }  
}