@import url("./__form/__form.css");
@import url("./__subtitle/__subtitle.css");
@import url("./__title/__title.css");
@import url("./__content-row/__content-row.css");

.search {
    padding-top:80px;
    padding-bottom:80px;
}

@media screen and (max-width: 768px) {
    .search {
        padding-top:40px;
        padding-bottom:48px;
    }  
}

@media screen and (max-width: 375px) {
    .search {
        padding-top:30px;
        padding-bottom:32px;
    }  
}