@import url("./__content-row/__content-row.css");
@import url("./__image/__image.css");
@import url("./__item-date/__item-date.css");
@import url("./__item-paragraph/__item-paragraph.css");
@import url("./__item-link/__item-link.css");
@import url("./__item-title/__item-title.css");

.cards__item {
    width: 400px;
    height:fit-content;
    background-color: white;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

