@import url("./-container/-container.css");
@import url("./__content-row/__content-row.css");
@import url("./__link/__link.css");
@import url("./__title/__title.css");
@import url("./-wrapper/-wrapper.css");
@import url("./__vector/__vector.css");



.swiper {
    padding-top:80px;
    padding-bottom: 136px;
    background-color:#F5F6F7;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .swiper {
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 320px) {
    .swiper {
        width: 320px;
    }
}