@import url("./__graph/__graph.css");
@import url("./__item-date/__item-date.css");


.analytics__item:nth-of-type(n+2){
    margin-top: 56px;
}


.analytics__item {
    display:flex
}

@media screen and (max-width: 425px) {
    .analytics__item {
        margin-top:18px
    }  

    .analytics__item{
        margin-top: 24px;
    }
}