.cards__item-title {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;    
    color: #1A1B22;
    margin-top:12px;
    max-height:60px;
    overflow: hidden;
}

@media screen and (max-width: 1440px) {
    .cards__item-title{
        font-size: 22px;
        margin-top: 4px;
    }
}