.header__stroke {
    width: 68px;
    height:3px;
    margin-top: 23px;
    background: #FFFFFF
}

@media screen and (max-width: 768px) {
    .header__stroke {
        margin-top:18px
    }  
}

@media screen and (max-width: 425px) {
    .header__stroke {
        margin-top:14px;
        width:60px;
    }  
}