@import url('./__image/__image.css');
@import url("./__container/__container.css");
@import url("./__logo/__logo.css");
@import url("./__image-background/__image-background.css");
@import url("./_type_light/_type_light.css");
@import url("./__logo/_type_light/_type_light.css");

.header {
    position: relative;
    width:inherit;
    box-shadow: inset 0px -1px 0px #D1D2D6;
    height:80px;
    display: flex;
}

@media screen and (max-width: 768px) {
    .header {
        height:64px;
    }  
}

@media screen and (max-width: 425px) {
    .header {
        height:56px;
    }  
}